<form id="work_form">
  <div class="card w-100">
    <div class="card-body">

      <div class="form-group row">
        <label for="role" class="col-sm-3 col-form-label">Role</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="role" placeholder="Role">
        </div>
      </div>
      <div class="form-group row">
        <label for="company" class="col-sm-3 col-form-label">company</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="company" placeholder="company">
        </div>
      </div>
      <div class="form-group row">
        <label for="industry" class="col-sm-3 col-form-label">Industry</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="industry" placeholder="Industry">
        </div>
      </div>
      <div class="form-group row">
        <label for="from" class="col-sm-3 col-form-label">From</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="from" placeholder="From">
        </div>
      </div>
      <div class="form-group row">
        <label for="To" class="col-sm-3 col-form-label">To</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="To" placeholder="To">
        </div>
      </div>
      <div class="form-group row">
        <label for="country" class="col-sm-3 col-form-label">Country</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="country" placeholder="Country">
        </div>
      </div>
      <div class="form-group row">
        <label for="state" class="col-sm-3 col-form-label">State</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="state" placeholder="State">
        </div>
      </div>
      <div class="form-group row">
        <label for="city" class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
      </div>
    </div>
  </div>
</form>
<span id="add_new_work_card">+ Add New work experience</span>
<div class="text-right">
  <button class="btn btn-success">Save</button>
</div>
