<app-nav></app-nav>
<div class="wrapper m250">
  <div class="page-content">
    <h2 class="text-center">Welcome</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, facilis ea numquam
                sed cupiditate saepe magnam molestias</p>
              <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
              <div class="text-right">
                <a href="#" class="btn btn-warning">Action</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h4 class="card-title">Recent Searches</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, facilis ea numquam
                sed cupiditate saepe magnam molestias</p>
              <!-- <a href="#" class="card-link">Card link</a> -->
              <div class="text-right">
                <a href="#" class="btn btn-warning">Action</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
